# Server Configuration
PORT=3000

# Database Configuration (Turso / libSQL)
TURSO_DATABASE_URL=libsql://your-database.turso.io
TURSO_AUTH_TOKEN=your-turso-auth-token

# Nomba API Gateway Credentials
NOMBA_MODE=sandbox
NOMBA_MAIN_ACCOUNT_ID=your-nomba-parent-account-id
NOMBA_SUB_ACCOUNT_ID=your-nomba-sub-account-id

NOMBA_LIVE_CLIENT_ID=your-nomba-live-client-id
NOMBA_LIVE_CLIENT_SECRET=your-nomba-live-client-secret

NOMBA_TEST_CLIENT_ID=your-nomba-test-client-id
NOMBA_TEST_CLIENT_SECRET=your-nomba-test-client-secret

NOMBA_WEBHOOK_SECRET=your-nomba-webhook-signing-secret

# Redis Configuration (BullMQ / Upstash)
REDIS_URL=rediss://default:your-password@your-redis-instance.upstash.io:6379

# Security Configuration
API_KEY_SALT_OR_ROUNDS=10
JWT_SECRET=your-jwt-dashboard-secret-key

# Notification Integrations (Telegram)
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_BOT_USERNAME=your-telegram-bot-username
TELEGRAM_BOT_SECRET=your-telegram-bot-secret-for-signature-verification
